<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	class="no-js">
<head>
<meta charset="UTF-8"></meta>
<title>文档操作安全审计报警信息系统</title>
<link rel="stylesheet" href="css/reset.css" th:href="@{/css/reset.css}"></link>
<link rel="stylesheet" href="css/ui.css" th:href="@{/css/ui.css}"></link>
<link rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}"></link>
<link rel="stylesheet" href="fonts/iconfont.css"
	th:href="@{/fonts/iconfont.css}"></link>
<link rel="stylesheet" href="css/css.css" th:href="@{/css/css.css}"></link>
<link rel="stylesheet" href="css/datepicker.css"
	th:href="@{/css/datepicker.css}"></link>
<link rel="stylesheet" th:href="@{/css/table.css}"></link>
<link rel="stylesheet" th:href="@{/css/font.css}"></link>
<style>
.dataTables_wrapper .dataTables_filter {
	display: none;
}
</style>
</head>
<body>


	<div class="page-wrapper">

		<div class="table-control">
			<form class="form-inline">
				<div class="form-group">
					<label for="exampleInputName2">市 区</label> <select name="area"
						id="area" class="form-control">
						<option value="">选择区域</option>
					</select>

				</div>
				<div class="form-group">
					<label for="exampleInputEmail2">单 位 </label> <select name="unit"
						id="unit" class="form-control">
						<option value="">选择单位</option>
					</select>

				</div>
				<div class="form-group">
					<label for="exampleInputEmail2">部 门 </label> <select name="depart"
						id="depart" class="form-control">
						<option value="">选择部门</option>
					</select>

				</div>
				<div class="form-group">
					<label for="exampleInputEmail2">日 期</label> <input type="text"
						class="form-control datepicker start" id="search_date"></input>

				</div>
			</form>
		</div>
		<div class="table-control">
			<form class="form-inline">
				<div class="form-group">
					<label for="exampleInputName2">关键字</label> <input type="text"
						class="form-control" id="search_key" placeholder="可选填"></input>
				</div>
				<div class="form-group">
					<label for="exampleInputEmail2">文档名称</label> <input type="text"
						class="form-control" id="search_title" placeholder="可选填"></input>
				</div>
				<button type="button" class="btn btn-primary btn-xs" id="btn-search">查
					询</button>
			</form>
		</div>
		<div class="table-control">
			<button type="button" class="btn btn-primary btn-sm">导出选中</button>
			<button type="button" class="btn btn-primary btn-sm" id="btn-delete" >删除选中</button>
			<button type="button" class="btn btn-danger btn-sm" id="btn-confirms">确认涉密</button>
			<button type="button" class="btn btn-primary btn-sm"
				id="btn-unconfirms">确认非涉密</button>
		</div>
		<div class="table-control" style="margin-bottom: 20px;">
			<div class="table-control-right">
				<div>
					<span>预警信息：<span id="rs_count">0</span> 已处理：<span
						id="rs_done">0</span></span>
				</div>
			</div>
		</div>
		<div class="table-wrap" id="table-wrap">
			<table class="table table-bordered table-striped" width="100%"
				id="netward_table">
				<thead>
					<tr>
						<th width="50" style="text-align: center;"><input
							type="checkbox" name="checkall" id="btn-table-checkall"></input></th>
						<th >时间</th>
						<th >区域</th>
						<th >单位</th>
						<th>类别</th>
						<th>部门</th>
						<th>用户名</th>
						<th>关键字</th>
						<th 
							style="-ms-word-wrap: break-word; word-wrap: break-word;">文档名称</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>

	</div>
	
<!-- 删除 -->
<div class="modal fade" id="deleteModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">确认信息</h4>
            </div>
            <div class="modal-body">
                <p>确认删除该信息？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="deleteconfirm">确认</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	<!--详情-->
	<div class="modal fade" id="myddd">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
					<p>One fine body&hellip;</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->


	<script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script src="js/checkall.jquery.js" th:src="@{/js/checkall.jquery.js}"></script>
	<script src="js/bootstrap-datepicker.js"
		th:src="@{/js/bootstrap-datepicker.js}"></script>
	<script src="js/http.js" th:src="@{/js/http.js}"></script>
	<script th:src="@{/js/jquery.dataTables.min.js}"></script>
</body>
</html>
<script>
	$(function() {
		new Checkall('btn-table-checkall', 'checkbox', 'table-wrap');

		var startCheckin = $('.datepicker.start').datepicker({
			format : 'yyyy-mm-dd'
		}).on('changeDate', function(ev) {
			startCheckin.hide();
		}).data('datepicker');

		$('.btn-detail').click(function() {
			$('#myddd').modal('show');
		});

		init_area();
		pageRender({mark:1});
		//	get_list({dealwith:0});
		info();
	});
	//区域列表
	function init_area() {
		var rs = http_get('getAllArea', {});
		var _arr = [];
		_arr.push('<option value="">选择区域</option>');
		$.each(rs, function(i, n) {
			_arr.push('<option value="'+n.guid+'">' + n.name + '</option>');
		});
		$('#area').html(_arr.join("\n"));

		$('#area').change(function() {
			var select_id = $(this).val();
			get_unit(select_id);
			get_depart("");
			_arr.push('<option value="">选择部门</option>');

		});
	}
	//单位列表
	function get_unit(aid) {
		var rs = http_get('getAllUnit', {
			area_guid : aid
		});
		var _arr = [];
		_arr.push('<option value="">选择单位</option>');
		$.each(rs, function(i, n) {
			_arr.push('<option value="'+n.guid+'">' + n.name + '</option>');
		});
		$('#unit').html(_arr.join("\n"));

		$('#unit').change(function() {
			var select_id = $(this).val();
			get_depart(select_id);
		});
	}
	//部门列表
	function get_depart(aid) {
		var rs = http_get('getAllDepart', {
			unit_guid : aid
		});
		var _arr = [];
		_arr.push('<option value="">选择部门</option>');
		$.each(rs, function(i, n) {
			_arr.push('<option value="'+n.guid+'">' + n.name + '</option>');
		});
		$('#depart').html(_arr.join("\n"));

	}

	//data-table 查询信息
	function info() {
		$('#netward_table')
				.dataTable(

						{

							"processing" : true,
							serverSide: true,
							"ajax" : {
								url : "alarmsearch?mark=1",
							//	"dataSrc" : "data"
							    data : function (d){
							    	var _area = $('#area option:selected').text();
									if ($('#area option:selected').val() == "") {
										_area = "";
									}
									var _unit = $('#unit option:selected').text();
									if ($('#unit option:selected').val() == "") {
										_unit = "";
									}

									var _depart = $('#depart option:selected').text();
									if ($('#depart option:selected').val() == "") {
										_depart = "";
									}

									var _date = $('#search_date').val();
									var _key = $('#search_key').val();
									var _title = $('#search_title').val();
									d.area=_area;
									d.unit=_unit;
									d.depart=_depart;
									d.time=_date;
									d.key=_key
									d.title=_title;
								}
							},
							"columns" : [
									{
										"data" : null,
										"render" : function(data, type, row,
												meta) {
											return '<input type="checkbox" name="checkbox" value="'
													+ row.guid
													+ '" style="margin-left: 40%;"></input>';
										}
									},
									{
										"data" : "time"
									},
									{
										"data" : "area"
									},
									{
										"data" : "unit"
									},
									{
										"data" : "unittype"
									},
									{
										"data" : "depart"
									},
									{
										"data" : "user"
									},
									{
										"data" : "keyword"
									},
									{
										"data" : "title"
									},

									{
										"data" : null,
										"render" : function(data, type, row,
												meta) {
											return '<a href="alarmdetail?guid='
													+ row.guid
													+ '" target="main_frame" class="btn btn-primary btn-xs btn-detail">详情</a>';
										}
									} ],

							language : {
								"sProcessing" : "处理中...",
								"sLengthMenu" : "显示 _MENU_ 项结果",
								"sZeroRecords" : "没有匹配结果",
								"sInfo" : "显示第 _START_ 至 _END_ 项结果",
								"sInfoEmpty" : "显示第 0 至 0 项结果，共 0 项",
								"sInfoFiltered" : "(由 _MAX_ 项结果过滤)",
								"sInfoPostFix" : "",
								"sSearch" : "搜索:",
								"sUrl" : "",
								"sEmptyTable" : "表中数据为空",
								"sLoadingRecords" : "载入中...",
								"sInfoThousands" : ",",
								"oPaginate" : {
									"sFirst" : "首页",
									"sPrevious" : "上页",
									"sNext" : "下页",
									"sLast" : "末页"
								},
								"oAria" : {
									"sSortAscending" : ": 以升序排列此列",
									"sSortDescending" : ": 以降序排列此列"
								}
							},
							"columnDefs" : [ {
								orderable : false,

								targets : 0
							},

							],//第一列与第二列禁止排序
						});
	}

	//统计预警信息数量
	function pageRender(data) {
		var rs = http_get('alarmsearch',data);
		$('#rs_count').text(rs.total);
		$('#rs_done').text(rs.alltotal - rs.total);
	}
	//确认涉密
	$('#btn-confirms').click(
			function() {
				var _arr = [];
				$('#netward_table tbody')
						.find('input[name="checkbox"]:checked').each(
								function() {
									_arr.push($(this).val());
								});

				var _ids = String(_arr.join(","));
				console.log(_ids);
				var rs = http_get('edit', {
					ids : _ids,dealwith:1,deleted:0
				});

				var table = $('#netward_table').DataTable();
				table.ajax.reload();
				pageRender({
					mark : 1
				});
			});
	//确认非涉密
	 $('#btn-unconfirms').click(
			 function() {
					var _arr = [];
					$('#netward_table tbody')
							.find('input[name="checkbox"]:checked').each(
									function() {
										_arr.push($(this).val());
									});

					var _ids = String(_arr.join(","));
					console.log(_ids);
					var rs = http_get('edit', {
						ids : _ids,dealwith:2,deleted:0
					});

					var table = $('#netward_table').DataTable();
					table.ajax.reload();
					pageRender({
						mark : 1
					});
				});
	//删除选中
	 $('#btn-delete').click(function(){
		 $('#deleteModal').modal();
		 $('#deleteconfirm').click(function() {
			 var _arr = [];
			 $('#netward_table tbody')
			 .find('input[name="checkbox"]:checked').each(
			 function() {
			 _arr.push($(this).val());
			 });

			 var _ids = String(_arr.join(","));

			 var rs = http_get('edit', {
					ids : _ids,deleted:1
				});

			 var table = $('#netward_table').DataTable();
			 table.ajax.reload();
			 $("#deleteModal").modal('hide');
			 pageRender({
					mark : 1
				});
			 });
	});
	//删除选中
	
/*   $('#btn-unconfirms').click(
			function() {
				var _arr = [];
				$('#netward_table tbody')
						.find('input[name="checkbox"]:checked').each(
								function() {
									_arr.push($(this).val());
								});

				var _ids = String(_arr.join(","));
				console.log(_ids);
				var rs = http_get('unconfirms', {
					ids : _ids
				});

				var table = $('#netward_table').DataTable();
				table.ajax.reload();
				
				pageRender({
					dealwith : 0
				});
			});   
	//删除选中
	$('#btn-delete').click(function(){
		 $('#deleteModal').modal();
		 $('#deleteconfirm').click(function() {
			 var _arr = [];
			 $('#netward_table tbody')
			 .find('input[name="checkbox"]:checked').each(
			 function() {
			 _arr.push($(this).val());
			 });

			 var _ids = String(_arr.join(","));

			 var rs = http_get('delete', {
			 ids : _ids
			 });

			 var table = $('#netward_table').DataTable();
			 table.ajax.reload();
			 pageRender({
			 dealwith : 0
			 });
			 $("#deleteModal").modal('hide');
			 });
	});
	*/
	//条件查询
	$('#btn-search').click(
			function() {

				

				var table = $('#netward_table').DataTable();
				table.ajax.reload();
			});
	
</script>